@if (Context.User.Identity.Name != null)
{
      //Kullanıcı giriş yapmışsa; çıkış yapma formu gösterme
    <form asp-controller="Account" asp-action="LogOut" method="post" class="d-flex align-items-center">
        <span class="me-3">Merhaba @Context.User.Identity.Name!</span>
        <button type="submit" class="btn btn-outline-secondary">Log off</button>
    </form>
}
else
{
    //Kullanıcı giriş yapmamışsa; giriş ve kayıt linkleri
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}
